<table class="table">
    <caption>My watch is</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Marque</th>
            <th scope="col">Description</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{watch.id}}</th>
            <td>{{watch.name}}</td>
            <td>{{watch.price}}</td>
            <td>{{watch.marque}}</td>
            <td>{{watch.description}}</td>
        </tr>
    </tbody>
</table>