<!-- =====  LODER  ===== -->
<!-- =====  BANNER STRAT  ===== -->
<app-banner></app-banner>
<!-- =====  BANNER END  ===== -->
<!-- =====  CONTAINER START  ===== -->
<div class="container">
    <!-- =====  SUB BANNER  STRAT ===== -->
    <app-our-services></app-our-services>
    <div class="row ">
        <div class="col-sm-12 mt_30">
            <!-- =====  PRODUCT TAB  ===== -->
            <app-product></app-product>
            <!-- =====  PRODUCT TAB  END ===== -->
        </div>
    </div>
    <app-sub-banner></app-sub-banner>
    <!-- =====  SUB BANNER END  ===== -->
    <app-brand-logo></app-brand-logo>
</div>
<!-- =====  CONTAINER END  ===== -->