<div id="brand_carouse" class="ptb_60 text-center">
    <div class="type-01">
        <div class="heading-part mb_10 ">
            <h2 class="main_title">Brand Logo</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="brand owl-carousel ptb_20">
                    <app-logo></app-logo>
                    <app-logo></app-logo>
                    <app-logo></app-logo>
                    <app-logo></app-logo>
                    <app-logo></app-logo>
                    <app-logo></app-logo>
                    <app-logo></app-logo>
                    <app-logo></app-logo>
                    <app-logo></app-logo>
                </div>
            </div>
        </div>
    </div>
</div>