<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel-login panel">
            <div class="panel-heading">
                <div class="row mb_20 headerTitle">
                    <h3>Register</h3>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="">
                        <!-- Contact FORM -->
                        <div id="contact_form">
                            <form #userForm="ngForm" class="bg-light p-5 user-form" (ngSubmit)='saveUser(userForm.value)'>
                                <input class="full-with-form " type="text" name="fName" placeholder="First Name" [(ngModel)]="user.fName" [ngModelOptions]="{standalone:true}" />

                                <input class="full-with-form " type="text" name="lName" placeholder="Last Name" [(ngModel)]="user.lName" [ngModelOptions]="{standalone:true}" />

                                <input class="full-with-form  mt_30" type="email" name="email" placeholder="E-mail" [(ngModel)]="user.email" [ngModelOptions]="{standalone:true}" />

                                <input class="full-with-form  mt_30" type="number" name="pwd" placeholder="Password" [(ngModel)]="user.pwd" [ngModelOptions]="{standalone:true}" />

                                <input class="full-with-form  mt_30" type="number" name="confirmPwd" placeholder="Marque" [(ngModel)]="user.confirmPwd" [ngModelOptions]="{standalone:true}" />

                                <input class="full-with-form  mt_30" type="number" name="tel" placeholder="Tel" [(ngModel)]="user.tel" [ngModelOptions]="{standalone:true}" />

                                <textarea class="full-with-form  mt_30" name="adresse" placeholder="Adresse" [(ngModel)]="user.adresse" [ngModelOptions]="{standalone:true}"></textarea>
                                <button class="btn mt_30" type="submit">Add USER</button>
                            </form>
                            <div id="contact_results"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>